
.container {
    color: #000000;
}
.left_nav {
    background-color: #303134;
    height: 100vh;
    color: #fff;
    padding: 10px 0;
}

.top_nav {
    background-color: #303134;
    padding: 10px 0;
    color: #fff;
}

.info {
    display: flex;
    justify-content: flex-end;
}
.info p {
    margin: 0;
}