.container {
    overflow: auto;
    max-height: 100vh;
    padding: 20px 0 100px 0;
}

.container::-webkit-scrollbar {
    display: none;
}

.title {
    width: 100%;
    padding: 10px;
}

.text_area {
    width: 100%;
    padding: 10px;
}