@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color-container: #171E22;
  --hover-color: #CE0607;
  --border-bottom-submenu: #DD163B;
  --bg-color-top-post: #001219;
  --bg-top1-post: #232930;
  --bg-fix-color: #006400;
  --bg-dark-red: #8B0000;
}

body {
  background-image: url('../../public/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.head-top {
  background-color: var(--bg-color-container);
  padding: 10px 0;
  margin-top: 30px;
}

.head-top form {
  display: flex;
  align-items: center;
}

.head-top form input,
button {
  border: none;
  outline: none;
}

.head-top form input {
  width: 90%;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  line-height: 0;
  font-size: 13px;
}

.head-top form button {
  cursor: pointer;
  background-color: black;
  color: #fff;
  padding: 12px;
  font-size: 15px;
  line-height: 0;
}

.head-top form button svg {
  font-size: 14px;
}

.head-top_links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.head-top_links a {
  text-decoration: none;
  color: #fff;
  margin: 0 5px;
}

.head-top_links a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

.navbar-container {
  margin-top: 30px;
  background-color: var(--bg-color-container);
  border-bottom: 1px solid #2C3032;
}

.hotposts-container {
  background-color: var(--bg-color-container);
  padding: 20px 0;
  overflow: hidden;
}

.latest-posts {
  background-color: var(--bg-color-container);
  padding: 20px 0 0 0;
  margin-bottom: 0;
}



ul {
  list-style: none;
}

.bg-container {
  background-color: var(--bg-color-container);

}

.see_all a {
  color: #fff;
  text-decoration: none;
}

.see_all a:hover {
  color: var(--border-bottom-submenu);
}

.txt-mark {
  color: var(--border-bottom-submenu);
}

.footer-container {
  background-color: var(--bg-color-container);
  border-top: 1px solid #2C3032;
  padding: 30px 0;
  margin-bottom: 30px;
}

.footer-container p {
  font-size: 14px;
}

.footer-container ul {
  list-style: disc !important;
  text-transform: uppercase;
}

.footer-container ul li {
  margin-left: 30px;
  margin: 10px 0 10px 25px;
  text-transform: capitalize;
}

.footer-container ul li a {
  color: var(--hover-color);
}


.follow-social li a {
  color: #fff !important;
  text-decoration: none;
}

.follow-social li a:hover {
  color: var(--border-bottom-submenu) !important;
}


.login-register-container {
  background-color: var(--bg-color-container);
  padding: 30px 0;
}

.login-register-container h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
}


.login-register-container input[type="text"],
.login-register-container input[type="password"],
.login-register-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #777777;
  margin: 10px 0;
  border: none;
  outline: none;
}

.login-register-container input[type="submit"] {
  color: #fff;
  background-color: var(--border-bottom-submenu);
  cursor: pointer;
  border-radius: 5px;
}


.login-register-container .other {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.login-register-container .other a {
  color: #797A7B;
}

.login-register-container label {
  width: 100%;
}


.navbar-container.navbar-post {
  margin-top: 0;
}

.post-content {
  background-color: var(--bg-color-container);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}



.bg-admin-page {
  background-color: #000000;
  height: 100vh;
}


.post-container,
.write_post {
  background-color: var(--bg-color-container);
}

.post-container {
  padding: 20px 0;
}

#editorjs {
  background-color: #fff;
  color: #000000;
  margin: 20px 0;
}

.ce-block__content {
  color: #000000;
}

.cdx-notifies {
  color: black;
}

.write_post button {
  border: none;
  outline: none;
  background-color: var(--border-bottom-submenu);
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.head-top_links-logged {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding-right: 15px;
}

.head-top_links-logged a {
  color: #fff;
  text-decoration: none;
}

.head-top_links-logged span {
  position: relative;
}

.head-top_links-logged span:hover .user-submenu {
  display: block;
}

.user-submenu {
  position: absolute;
  background-color: #fff;
  list-style: none;
  padding: 10px 0;
  z-index: 1;
  border-radius: 5px;
  width: 100%;
  display: none;
}

.user-submenu li a {
  color: #000000;
  display: block;
  font-size: 14px;
  padding: 5px 5px 5px 10px;
}

.user-submenu li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--hover-color);
}

.write_post label {
  width: 100%;
  margin-top: 20px;
}

.write_post .title input {
  width: 100%;
  font-size: 20px;
  padding: 5px 10px 10px 10px;
  border: none;
  outline: none;
  font-weight: 600;
  margin-top: 10px;
}

.write-content {
  margin-top: 20px;
}

.write_post .title textarea {
  width: 100%;
  border: none;
  outline: none;
  padding: 5px 10px;
}

.post-container img {
  max-width: 100%;
  height: 100%;
}

.content-list-container {
  margin-left: 30px;
}

.content-table {
  margin-bottom: 20px;
  width: 100%;
}

.content-table td {
  border: 1px solid #dddddd;
  padding: 8px;
}

.pagging-container {
  background-color: var(--bg-color-container);

}

.pagging-container_buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 0 16px 0;
}

.pagging-container_buttons a{
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.pagging-container_buttons span {
  padding: 10px;
}

.pagging-container_buttons span.active {
  border: 3px solid;
  border-color: var(--border-bottom-submenu);
  border-radius: 50px;
}

.thumnail {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
}

.thumnail.active {
  display: block;
  z-index: 10;
}

.thumnail .image {
  width: 320px;
  height: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thumnail .image img {
  width: 100%;
  height: 100%;
}

.thumnail .close {
  background-color: #CE0607;
  position: absolute;
  right: 30px;
  top: 20px;
  cursor: pointer;
  padding: 8px 18px;
  font-size: 20px;
}

.categories_container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.categories_container li {
  margin-right: 10px;
}

.categories_title p {
  margin-bottom: 0;
}

.pagging_buttons.disable {
  pointer-events: none;
  cursor: not-allowed;
  color: gray;
}

.title_post_new {
  overflow: hidden;
  white-space: nowrap;
}